spring:
  data:
    mongodb:
      uri: mongodb://test:test@localhost:27017/api

logging:
  level:
    org:
      springframework:
        data:
          mongodb:
            core:
              MongoTemplate: DEBUG

server:
  port: 8080

